<a href="https://colab.research.google.com/github/EnsiyehRaoufi/EnsiyehRaoufi/blob/main/Regression_Model_Training_and_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Model Training and Evaluation**

tasks for this exercise are:

* Create a dataframe with the regression dataset, include the features and target within the same dataframe.
* Create a 60% Train / 20% Validation / 20% Test dataset group using the train_test_split method.
* Fit the LinearRegression model on the training set.
* Evaluate the model on the validation set.
* Evaluate the model on the test set

In [1]:
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
#create a random dataset suitable for regression model
regression_dataset = make_regression(
    n_samples=10000,
    n_features=10,
    n_informative=5,
    bias=0,
    noise=40,
    n_targets=1,
    random_state=0,
)

In [7]:
regression_dataset

(array([[-1.0393095 , -0.5332538 ,  0.00635223, ...,  0.3130869 ,
          1.70931128,  1.48621738],
        [ 0.90626807,  1.11210073, -0.81649958, ...,  0.99985447,
         -1.91940127, -1.13703142],
        [ 0.33413661,  0.32000434, -0.2482671 , ..., -0.65572504,
          0.34086782, -1.48155053],
        ...,
        [ 2.49215744,  0.27015821, -0.13557691, ..., -0.25815086,
          0.62398539,  0.82903174],
        [ 1.35460444, -0.32465957, -0.24943232, ...,  1.10718622,
          0.89528265,  0.35459303],
        [-0.80626141, -0.28770278, -0.61294478, ..., -0.15531914,
          0.04842427, -0.07609417]]),
 array([-190.33610853,   33.26438936,  120.28780477, ...,  109.9259898 ,
          72.06473529, -100.54252085]))

In [9]:
# Create the dataframe using the dataset
df = pd.DataFrame(regression_dataset[0])
df["target"] = regression_dataset[1]

In [10]:
# `.head()` to view what the dataset looks like
df.head()

          0         1         2  ...         8         9      target
0 -1.039309 -0.533254  0.006352  ...  1.709311  1.486217 -190.336109
1  0.906268  1.112101 -0.816500  ... -1.919401 -1.137031   33.264389
2  0.334137  0.320004 -0.248267  ...  0.340868 -1.481551  120.287805
3  0.250441 -1.215110 -1.562450  ... -1.331549 -0.979638 -472.599566
4 -1.440993 -0.388298 -0.431737  ...  1.885108 -0.913755   42.355214

[5 rows x 11 columns]

In [19]:
features_list = df.columns.to_list()
features_list.pop()
features_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# train: 0.8 | test: 0.2
df_train, df_test = train_test_split(df, test_size=0.2, random_state=0)

# train: 0.6 | validation: 0.2
df_train, df_val = train_test_split(df_train, test_size=0.2, random_state=0)

# Final dataset sizes: train: 0.6, validation: 0.2, text: 0.2,

In [29]:
# Output each shape to confirm the size of train/validation/test
print(f"Train: {df_train.shape}")
print(f"Validation: {df_val.shape}")
print(f"Test: {df_test.shape}")
df_train.shape

Train: (6400, 11)
Validation: (1600, 11)
Test: (2000, 11)

(6400, 11)

In [30]:
# Train the linear model by fitting it on the dataframe features and dataframe target
reg = LinearRegression().fit(df_train[features_list], df_train['target'])

In [31]:
# Evaluate the linear model by scoring it, by default it's the metric r2.
reg.score(df_val[features_list], df_val['target'])

0.9353449491692246

In [32]:
# Once done optimizing the model using the validation dataset,
# Evaluate the linear model by scoring it on the test dataset.
reg.score(df_test[features_list], df_test['target'])

0.9324411013255263